.dept-card{
  padding: 15px;
}
.card-inner{
  border: 1px solid rgba(0, 0, 0, 0.1.8);;
  padding: 20px;
  border-radius: 10px;
  min-height: 200px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
  transition: 200ms;
  text-align: center;
}
.card-inner:hover{
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0, 0.4);
  cursor: pointer;
}
.card-inner:hover .dept-name-label{
  font-weight: 500;
  color: #336699;
}
.dept-name-label{
  font-size: 1.2em;
  transition: 500ms;
}



/* Department's Card */
.function-type-header{
  font-size: 1.4em;
}



/* Custom input field */
.group{
  position: relative;
  padding: 20px;
  margin-right: 20px;
  width: 100px;
  height: 60px;
  display: inline-block;
}
.function-name{
  /* text-align: right; */
}
.custom-input{
  position: absolute;
  top: 9px;
  left: 0px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  transition: 200ms;
}
.custom-label{
  position: absolute;
  top: 0px;
  left: 15px;
  padding-left: 4px;
  padding-right: 4px;
  background: #FDFDFD;
  font-size: 10pt;
  transition: 200ms;
}
.custom-input:focus + .custom-label{
  font-weight: 500;
}