.dark{
  background: #313131;
}
.light{
  background: #FDFDFD;
}
.light-grey{
  background: #F2F2F2;
}

body {
  display: flex;
  margin: 0;
  background: #FDFDFD;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
